@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}

body{
    background-color: rgb(222,238,251);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

@media screen and (max-width: 768px){
    body{
       width: 100%;
       background-color: rgb(222, 238, 251);
    }
}

/*ここからがヘッダー*/
.header {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 60px!important;
    box-shadow: none;
    background-color: #ffff;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    opacity: 0.7;
    text-align: center;
    margin: 0 auto;
}

.header img{
    height: 100%;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
    z-index: 7;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-shadow: 0 0 3px #668AD8;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


header{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70%;
    text-shadow: 0 0 10px #4d4c4c;
    z-index: 3;
}
header h1{
    position: absolute;
	z-index: 3;
	top: 30%;
	width: 100%;
	margin: 0;
	padding: 0 .5em;
	color: #ffffff;
    font-size: 5rem;
	line-height: 1.4;
	font-family: "Dosis", sans-serif;
	letter-spacing: .1em;
	transform: translateY(-50%);
}
header figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
}
header figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*ヘッダーのメディアレスポンシブル*/
@media screen and (max-width: 768px){
    header{
        height: 350px;
    }
    header h1{
       padding-top: 200px;
       top: 20%;   
       font-size: 37px;
    }

    header figure{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 2;
    }

    header figure img{
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
}

.blog-test{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.test{
    position: fixed; /*スクロールしても画像が固定*/
    bottom:100px;
    left: 100px;
    width: 100px;
    z-index: 1; 
}

@media screen and (max-width: 768px){
    .test{
        display: none;
        z-index: 1;
    }
}
/*ここまでがヘッダー-->*/


/*new*/
.new{
    text-align: center;
}

.new-logo{
    margin: 30px 0;
    text-align: center;
}

.new-logo img{
    width: 10%;
}

iframe{
    max-width: 100%;
    border: 1px black solid;
    width: 50%;
}
/*newのレスポンシブル*/
@media screen and (max-width: 768px){
    .new{
        max-width: 100%;
    }
    .new-logo{
        margin: 40px 0;
    }
    .new-logo img{
        text-align: center;
        width: 30%;
    }
    iframe{
        margin: 10px 10px 10px 10px;
        border: 1px black solid;
        max-width: 100%;
        width: 80%;
    }
}
/*new*/



/*キャンペーン説明*/

.campaign-logo{
    margin: 100px 0;
    text-align: center;
    transition-duration: 0.5s;
}
.campaign-logo img {
    width: 30%;
}

.campaign .banner1{
    text-align: center;    
    margin: 40px 0;
}

.banner1 img{
    width: 30%;
    cursor: pointer;
}

.campaign .banner1 img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
  }

.campaign{
    margin: 40px 0;
}

.campaign p{
    text-align: center;
    font-size: 15px;
    line-height: 400%;
    font-weight: bold;
}
br .mazuha{
    display: none;
}

.campaign-photo{
    margin: 10% 0;
    text-align: center;
}

/*キャンペーン説明 レスポンシブル*/
@media screen and (max-width: 768px){
   .campaign {
        padding: 0;
        margin: 10px 0;
    }
    .campaign-logo{
        margin: 50px;
        text-align: center;
    }
    .campaign-logo img{
        max-width: 100%;
        width: 100%;
    }
    .banner1 img{
        width: 70%;
    }
    .campaign p{
        margin: 10px 30px;
        font-size: 15px;
        text-align: left;
        
    }
    .campaign-photo{
        margin: 0;
        text-align: center;
    }
    .campaign-photo img{
        width: 60%;
        max-width: 100%;
        margin-bottom: 125px;
        margin-top: 50px;
    }

    .eri{
        display: none;
    }
}
/*キャンペーン説明*/

/*カウンセリングメニュー*/
.counseling-menu-logo{
    margin-bottom: 100px 0;
    text-align: center;
}
.counseling-menu-logo img{
    width: 50%;
}

.counseling-menu-banner{
    text-align: center;
    transition-duration: 0.5s;
    margin: 100px 0;
}

.counseling-menu-banner img{
    width: 30%;
    cursor: pointer; 
}

.counseling-menu-banner img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;    
}

.counseling-menu-Centence{
    text-align: center;
}


.counseling-menu-Centence p{
    font-size: 15px;
    font-weight: bold;
}

.counseling-photo{
    margin: 10% 0;
    text-align: center;
}

@media screen and (max-width: 768px){
    .counseling-menu{
        margin: 10px 0;
        padding: 0;
    }
   .counseling-menu-Centence p{
       margin: 0 30px;
       font-size: 15px;
       margin:0 30px;
    }
    .counseling-menu-logo{
        text-align: center;
    }
    .counseling-menu-logo img{
        width: 90%;
    }

    .counseling-menu-banner{
        margin: 50px 0;
    }
    .counseling-menu-banner img{
        width: 90%;
    }
    .counseling-photo{
        margin: 0;
        text-align: center;
    }
    .counseling-photo img{
        width: 60%;
        max-width: 100%;
        margin-bottom: 125px;
        margin-top: 50px;
    }
}
/*カウンセリングメニュー*/



/*ここから下がフッター*/
footer{
    width:100%;
    background-color: rgb(202, 199, 199);
    padding:30px 0;
    bottom:0;
}
.sosyal {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.sosyal img{
    width: 50px;
    height: 50px;
}

.Icons{
    margin: 2%;
}

.sosyal .Icons img{
    top: 2px;
    cursor: pointer;

}

.sosyal .Icons img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;    
}

.privacy li{
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width: 768px){
    .sosyal img{
        width: 40px;
        height: 40px;
    }

    .sosyal {
        margin: 0 auto;
        text-align: center;
        padding: 5px;
      }

}
