@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background-color: rgb(222,238,251);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
/*ここからがヘッダー*/
.header {
    display: block;

    width: 100%;
    max-width: 100%;
    height: 60px!important;
    box-shadow: none;
    background-color: #ffff;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    opacity: 0.7;
    text-align: center;
    margin: 0 auto;
}


.header img{
    height: 100%;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #a1c4fd 0%, #c2e9fb 100%);
    z-index: 7;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
/*ここまでがヘッダー*/

.profile-logo{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.profile{
   text-align: center;
   line-height: 42px;
}

/*横並び*/
.profile-home-1,.profile-home-2,.profile-home-3,.profile-home-4,.profile-home-5,.profile-home-6{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.profile-img1{
    padding-top: 50px;
    padding-right: 10px;
}
.profile-cent1{
    text-align: left;
}

/*プロフィールの囲み*/
.profile-cent1{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.profile-cent1:before, .profile-cent1:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.profile-cent1:before {left: 10px;}
.profile-cent1:after {right: 10px;}
.profile-cent1 p {
    margin: 0; 
    padding: 0;
}


/*2要素目以降*/
.profile-cent2,
.profile-img2{
    vertical-align: middle;
}

.profile-img3,
.profile-cent3{
    vertical-align: middle;
}

.profile-img4,
.profile-cent4{
    vertical-align: middle;
}

.profile-img5,
.profile-cent5{
    vertical-align: middle;
}
.profile-img6,
.profile-cent6{
    vertical-align: middle;
}

/*レスポンシブル*/
@media screen and (max-width: 768px){
    /*親要素*/
    .profile-home-1,.profile-home-3,.profile-home-5{
        flex-direction: column;
        margin: 10px;
    }
    .profile-home-2,.profile-home-4,.profile-home-6{
        flex-direction: column-reverse;
        margin: 10px;
    }
    /*子要素*/
    /*子要素　文*/
    .profile-cent1 p,.profile-cent3 p,.profile-cent5 p{
        font-size: 12px;
        margin: 10px;
    }
    .profile-cent2 p,.profile-cent4 p,.profile-cent6 p{
        font-size: 12px;
        margin: 10px;
    }
    /*子要素 写真*/
    .profile-img1 img,.profile-img3 img,.profile-img5 img{
        max-width: 100%;
    }
    .profile-img2 img,.profile-img4 img,.profile-img6 img{
        max-width: 100%;
    }
}

/*ここからがフッター*/
footer{
    width:100%;
    background-color: rgb(202, 199, 199);
    padding:30px 0;
    bottom:0;
    margin-top: 40px;
}

.sosyal {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.sosyal img{
    width: 50px;
    height: 50px;
}

.Icons{
    margin: 2%;
}

.sosyal .Icons img{
    top: 2px;
    cursor: pointer;

}

.sosyal .Icons img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;    
}
.privacy li{
    text-align: center;
    font-size: 10px;
}
